@import "bower_components/neat/app/assets/stylesheets/_neat-helpers.scss";

//$visual-grid: true;

// Neat Overrides
// $column: 90px;
$gutter: 2em;
$grid-columns: 12;
$max-width: em(1088);

// Neat Breakpoints
$small-screen: em(640);
$medium-screen: em(720);
$large-screen: em(1024);

$medium-screen-up: new-breakpoint(min-width $medium-screen 12);
$large-screen-up: new-breakpoint(min-width $large-screen 12);