.p {
  &__grilla {
	list-style: none;
	margin: -20px;
	padding: 0;
	overflow: hidden;
  }
  &__foto {
	width: 100%;
	display: inline;
	position: absolute;
	top: 0;
	left: 0;
	padding: 0;
	margin: 0;
	overflow: hidden;
	line-height: 0;

	&-wrap{
	  overflow: hidden;
	  &:before{
		padding-top: 66.66%;
		content: "";
		display: block;
		height: 0;
	  }

	}

  }
  &__proyecto {
	position: relative;
	display: block;
	float: left;
	width:33.33%;
	padding: 20px;
	transition: width .3s ease-in-out;
	@media (max-width: $large-screen) {
	  width: 50%;
	  transition: width .3s ease-in-out;
	}
	@media (max-width: $small-screen) {
	  width: 100%;
	  transition: width .3s ease-in-out;
	}
  }
  &__link {

	&:hover .p__meta-titulo {
	  color: $rojo;
	  transition: all .2s ease-in-out;
	}
	&:hover .p__meta-descripcion{
	  background-color: rgba(255, 255, 255, 1);
	  transition: all .2s ease-in-out;
	  & p, span{
		opacity: 1;
	  }
	}
  }
  &__contenido {
	position: relative;
	overflow: hidden;
	transition: all .2s ease-in-out;
  }
  &__meta {
	color: $negro;
	padding-top: 0.5em;
	display: block;
	margin-bottom: 1em;
	height: 100%;
	width: 100%;
	position: relative;

	&-titulo{
	  color: $negro;
	  margin: 0;
	  font-weight: $regular;
	  line-height: 1.1em;
	  transition: opacity .2s ease-in-out;
	}
	&-descripcion{
	  z-index: 99;
	  color: $negro;
	//  line-height: 1.4;
	  text-align: left;
	  height: 100%;
	  width: 100%;
	  background-color: white;
	  position: absolute;
	  bottom: 0;
	  top: 0;
	  left: 0;
	  right: 0;
	  background-color: rgba(255, 255, 255, 0);
	  padding: 10% 10% 10% 0;
	  transition: background-color .2s ease-in-out;
	  p, span{
		opacity: 0;
	  }
	}
	&-categorias{

	}
  }
}

.categorias-lista{
  padding: 0;
  list-style: none;
  display: inline-block;
  color: $gris;
  li, ul{
	@extend .categorias-lista;
  }
  li:not(:last-of-type):after{
	content: ",";
	margin-right: 0.3em;
  }


}