/*!
Theme Name: Portfolio
Theme URI: http://www.sebastianromerog.com/
Author: Sebastian Romero
Author URI: http://www.sebastianromerog.com/
Description: Tema para mi blog personal.
Version: 1.0
*/
@import "bower_components/bourbon/dist/bourbon";
@import "grid-settings";
@import "bower_components/neat/app/assets/stylesheets/neat";
@import "bower_components/normalize-scss/normalize";


$negro: #262626;
$rojo: #b72426;
$gris: #b1b1b1;
$sans: "Roboto", "Arial", "Helvetica", "sans-serif";
$regular: 300;
$bold: 500;
$regla: 1px solid $negro;

//Tipografia
$small: 0.9em;

@import "portfolio";

@mixin tipo($variable) {
  @if $variable == serif {
	font-family: $sans;
  } @else if $variable == sans {
	font-family: $sans;

  }
}

html {
  background-color: white;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
}

body {
  max-width: 90%;
  margin: 1em auto 1em auto;
  font-weight: $regular;
  font-size: 137.5%;
  line-height: 1.5;
  @include tipo(sans);
  color: $negro;
  -webkit-font-smoothing: antialiased;
  //@media only screen and (max-width: 768px) {
  //font-size: 120%;
  // }
}

a {
  text-decoration: none;
  color: $gris;
  transition: all ease 0.3s;
  &:hover {
	color: $negro;
	transition: all ease 0.3s;

  }
}

strong, b {
  font-weight: $bold;

}

.cabecera {
  padding-bottom: 3em;
  padding-top: 1em;
  a {
	text-decoration: none;
  }
  &:after {
	content: '.';
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
  }
}

.nav {
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em 0 3em 0;
  // border-top: $regla;

  &-atras {
	float: left;
	text-align: left;
	@media only screen and (max-width: 600px) {
	  float: none;
	}
  }
  &-adelante {
	float: right;
	text-align: right;
	@media only screen and (max-width: 600px) {
	  float: none;
	  text-align: left;
	}
  }
  &:after {
	clear: both;
  }
}

.menu {
  float: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
  transition: all 2s ease;

  &-item {
	display: inline-block;
	transition: all 2s ease;
	padding-left: 1em;
	@media only screen and (max-width: 600px) {
	  display: block;
	  padding-left: 0;
	  transition: all 1s ease;
	}
  }
  .current-menu-item a {
	color: $rojo;
  }
  @media only screen and (max-width: 400px) {
	float: none;
  }
}

.sitio-nombre {
  float: left;
  padding: 0;
  @media only screen and (max-width: 400px) {
	float: none;
  }
}

.sitio-titulo {
  margin: 0;
  color: $rojo;
  font-weight: $bold;
}

.titulo-seccion {
  padding-bottom: 2em;
}

.archivo {
  list-style-type: none;

  &__tipo /* Para los tipos de archivos: tema, fecha, etc.*/  {
	//border-top: $regla;
	@include span-columns(1);
	@media (max-width: $medium-screen) {
	  @include span-columns(3);
	}
  }
  &__posteo {
	//border-top: $regla;
	@include row();
  }

  &__posteos {

	&-info {
	  @include span-columns(1);
	  @media (max-width: $medium-screen) {
		@include span-columns(3);
	  }
	}

	&-resumen {
	  @include span-columns(1);
	  @media (max-width: $medium-screen) {
		@include span-columns(3);
	  }
	}

	&-categorias {
	  @include span-columns(1);
	  .post-categories {
		list-style: none;
		padding: 0;
	  }
	  @media (max-width: $medium-screen) {
		@include span-columns(3);
	  }
	}
  }
}

.sitio-contenido, header {
  @include outer-container();
  max-width: $max-width;
}

.contenedor {
  //padding: 1em;
  @media only screen and (max-width: $medium-screen) {
	//padding: 1.5em;
  }
  margin: 0 auto 0 auto;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  padding-top: 1em;
  padding-bottom: 1em;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1em;
  font-weight: $bold;
  color: $negro;
  text-rendering: optimizeLegibility;
}

.articulo {
  padding-bottom: 3em;
  &__titulo {
	text-rendering: optimizeLegibility;
	padding-bottom: 0;
	color: $negro;
	margin-top: 0;
	a {
	  color: $negro;
	  text-decoration: none;
	}
	margin-bottom: 0;
  }
  &__fecha {
	font-weight: $regular;
	color: $gris;
	margin-bottom: 0;
	padding-bottom: 0;
	margin-top: 0;
  }
}

embed, iframe, object {
  width: 100%;
}

.wp-caption {
  margin-bottom: 1em;
  width: 100% !important;
  max-width: 100%;
  img[class*="wp-image-"] {
	height: auto;
  }
}

.wp-caption-text {
  padding-bottom: 1em;
  margin-top: -1em;
  font-weight: $bold;
  font-size: 0.8em;
  line-height: 1.1em;
}

.alignleft, .alignnone, .alignright {
  width: 100%;
  max-width: 100%;
}

.post {
  &-wrap {
	//border-top: $regla;
	@include row();
  }
  &__info {
	@include span-columns(4);
	@media (max-width: $medium-screen) {
	  @include span-columns(12);
	}
  }
  &__contenido {
	@include span-columns(8);
	@media (max-width: $medium-screen) {
	  @include fill-parent();
	}
	//Sacarle el padding a la primer imagen para que quede alineada con el título
	& img:first-child {
	  padding-top: 0;
	}
	&-sintitulo {
	  @include fill-parent();
	  @media (min-width: $large-screen) {
		@include span-columns(8);
		@include shift(4);
	  }
	}
  }
  &-comentarios {
	@include span-columns(8);
	@media (max-width: $medium-screen) {
	  @include fill-parent();
	}
  }
}

.link__titulo {
  margin: 0;
  font-size: $small;
  //color: $gris;
}

.modulos {
  @include span-columns(6);
  @media (max-width: $medium-screen) {
	@include span-columns(12);
  }
}
